.global {
  background-color: #f3f3f3;
  width: 70%;
  border-radius: 15px;
  margin: 30px;
}

.btn {
border: none;
color: white;
padding: 7px 14px;
font-size: 16px;
cursor: pointer;
}

.btn-akcija {
width: 80px;
}

.add {
  margin: 10px;
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}

table {
border-collapse: collapse;
width: 90%;
padding: 10px;
}

th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
}

.modal {
  background-color: #f3f3f3;
  margin: auto;
  padding: 20px;
  width: 40%;
  border-radius: 15px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dropdown {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}


.close {
  margin: 8px 0;
}
