.add-genre {
    background-color: #f3f3f3;
    padding: 2em

}



.add-genre input {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 1em;
    margin: 2em auto;
    display:block;
    width: 15em;
    height: 2em;
    padding-left: 0.5em;
        border-radius: 0.5em;
    border-width: 0.1em ;
}

.add-genre input[type="submit"] {
    width: 7em;
    height: 2em;
    background-color: rgb(6, 104, 6);
    color: white;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 0.5em;
    box-shadow: 1px 1px #000000;
}

.add-genre input[type="submit"]:hover {
    background-color: rgb(7, 85, 7);
    color: white;
}